#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  } 
html{
  background-color: #ffffff;
}
#freeSlot {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
  z-index: 2;
  background-color: aqua;
}
#slot {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
  z-index: 2;
  background-color: aqua;
}
.draggableItem {
  position: absolute;
  z-index: 9;
  cursor: move;
}
.draggableItem2 {
  position: absolute;
  z-index: 9;
  cursor: move;
}
#inventory{
  z-index: 2;
}
#gate{
  z-index: 2;
}
@import "compass/css3";