#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
  } 
html{
  background-color: #ffffff;
}
#freeSlot {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
  background-color: aqua;
}
#slot {
  position: relative;
  cursor: pointer;
  margin-bottom: 100px;
  width: 83px;
  height: 46px;
  background-color: aqua;
}
#draggable0{
  z-index: 9;
  position: absolute;
}

#inventory{
  position: fixed;
  top: 90%;
  right: 45%;
}
